<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 portlet light">
      <div class="portlet-body">

        <table class="col-md-6 table table-hover">
          
          <tr ><td width="25%">hash</td><td>{{tx.hash}}</td></tr>
          <tr ><td width="25%">Receipt Status</td><td ng-style="{'color': (tx.status=='0x1')? '#3c763d':'#af1822'}">{{(tx.status=='0x1')? 'Success': 'Fail'}}</td></tr>
          <tr ><td width="25%">blockNumber</td>
                <td><a href="/block/{{tx.blockNumber}}">{{tx.blockNumber}}</a></td>
          </tr>
          <tr ><td width="25%">Time</td>
                <td>{{tx.datetime | date:'yyyy-MM-dd HH:mm:ss Z' }} ({{tx.timestamp | timeDuration}} ago)</td>
          </tr>
          <tr ><td width="25%">from</td>
                <td><a href="/addr/{{tx.from}}">{{tx.from}}</a></td></tr>
          <tr ng-show="tx.to"><td width="25%">to</td>
              <td><span ng-show="tx.isContract">Contract </span><a href="/addr/{{tx.to}}">{{tx.to}}</a></td></tr>
          <tr ng-show="tx.creates"><td width="25%">creates</td>
                <td><a href="/addr/{{tx.creates}}">{{tx.creates}}</a></td></tr>
          <tr ng-show="tx.inputJson && (tx.inputJson.name == 'transfer')">
              <td width="25%">Tokens Transfered</td>
              <td>To <a href="/addr/{{tx.inputJson.params[0].value}}">{{tx.inputJson.params[0].value}}</a>
                  for {{tx.tokenNumber | number}} <a href="/token/{{tx.to}}">{{tx.tokenName || 'Unknown Token'}}</a>
                  <br><span style="color: #af1822; font-style: italic;" ng-show="tx.status!='0x1'">Warning! Error encountered during contract execution.</span>
              </td></tr>
          <tr ><td width="25%">value</td><td>{{tx.value | number}} {{ settings.symbol }}</td></tr>
          <tr ><td width="25%">gas Used</td><td>{{tx.gasUsed | number}}</td></tr>
          <tr ><td width="25%">gasPrice</td><td>{{tx.gasPrice | number}} wei</td></tr>
          <tr ><td width="25%">nonce & {Index}</td><td>{{tx.nonce}} | { {{tx.transactionIndex}} }</td></tr>
          <tr ><td width="25%">Input Data</td>
              <td><div>
                  <pre class="code" ng-if="tx.inputJson && original==false">Function: {{tx.inputJson.name}}

 #   Name     Type      Value<div ng-repeat="param in tx.inputJson.params">[{{$index}}]: {{param.name}}    {{param.type}}    {{showValue(param)}}</div>
                  </pre>
                  <pre class="code" ng-if="!tx.inputJson || original==true">{{tx.input}}</pre>
                  <button type='button' ng-click="showToggle()" ng-if="tx.inputJson" class="input-data-button">
                      {{original?'Switch Back':'Show Original'}}</button>
              </div>
              </td>
          </tr>
          </tr>
        </table>

        <table class="table table-condensed" ng-show="tx.isTrace">
          <thead>
              <tr>
                  <th> From </th>
                  <th> To </th>
                  <th style="text-align:right"> Amount </th>
                  <th style="text-align:right"> Gas </th>
                  <th style="text-align:right"> GasUsed </th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="t in internal_transactions track by $index">
                  <td class="truncate-addrhash"> <a href="/addr/{{t.from}}">{{t.from}}</a> </td>
                  <td class="truncate-addrhash"> <a href="/addr/{{t.to}}">{{t.to}}</a> </td>
                  <td style="text-align:right"> {{t.value}} </td>
                  <td style="text-align:right"> {{t.gas}} </td>
                  <td style="text-align:right"> {{t.gasUsed}} </td>
                  <td style="text-align:center"><span class="label label-sm label-info {{t.type}}"> {{t.type}}</span><span class="label label-sm label-danger" ng-show="t.error"> {{t.error}}</span></td>
              </tr>
          </tbody>
        </table>
    </div>

  </div>
</div>
